<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="auteur" placeholder="Entrer l'auteur">
        </div>
        <div>
            <input type="text" name="genre" placeholder="Entrer le genre">
        </div>
        <div>
            <input type="text" name="prix" placeholder="Entrer le prix">
        </div>
        <input type="submit" value="Submit">

    </form>

</body>
</html>